{% extends "AppFinal/layout.html" %}
{% load static %}

{% block lo-que-cambia %}
<main class="px-3">
  <h1>{{usuario}}</h1>
  <hr>
  <p class="lead">Editar</p>
  <!-- {% if miFormulario.errors %}
  <p style="color: red;">Revisar los datos.</p>
  {% endif %}-->
  <a href="{% url 'AgregarAvatar' %}">Agregar avatar</a>
  
  <form action="" method="POST" enctype="multipart/form-data" class="row g-3 align-items-center">{% csrf_token %}
    <div class="col-12">
      {{ miFormulario.as_p }}
    </div>
    <input type="submit" class="btn btn-primary" value="Guardar">

  </form>
  <!-- <h5>{{mensaje}}</h5> -->
</main>
{% endblock %}