{% extends "AppFinal/layout.html" %}
{% load static %}

{% block lo-que-cambia %}
<main class="px-3">
  <h1>Bienvenido</h1>
  <hr>
  <form action="buscar" class="row g-3" method="GET">
    <label for="buscar" class="lead form-label">Buscar productos</label><br>
    <input type="text" name="nombre" class="form-control" id="buscar" placeholder="Ingrese una palabra">
    <input type="submit" value="Buscar" class="btn btn-primary">
  </form>
  <br>
    {% if productos %}
      {% for producto in productos %}
        <ul class="list-group list-group-horizontal-xxl">
          <li class="list-group-item text-bg-dark">Nombre: {{producto.nombre}}</li>
          <!-- <li class="list-group-item text-bg-dark">Correo electronico: {{producto.correo}}</li>
          <li class="list-group-item text-bg-dark">Telefono: {{producto.telefono}}</li> -->
        </ul>
      {% endfor %}
    {% endif %}
  <h5 style="color: rgb(214, 46, 46); padding: 14px;">{{respuesta}}</h5>
</main>
{% endblock %}